{% extends "::base.html.twig" %}

{% block body %}
    <h1>BikeCalculator</h1>
    <div class="row">
        <div class="col-lg-6 col-md-4">
            <a href=" {{ path('app_chain_calculate') }}" class="thumbnail">
                <img src="{{ asset('images/chain.jpg') }}" alt="bike chain">
                <div class="caption">Chain length Calculator</div>
            </a>
        </div>
        <div class="col-lg-6 col-md-4">
            <a href=" {{ path('app_wheel_calculate') }}" class="thumbnail">
                <img src="{{ asset('images/wheel.jpg') }}" alt="wheel">
                <div class="caption">Spoke length Calculator</div>
            </a>
        </div>
        <div class="col-lg-12 col-md-4">
            <a href="{{ path('app_default_about') }}" class="thumbnail"><img src="{{ asset('images/php.jpg') }}"></a>
            <div class="caption">About Me</div>
        </div>
    </div>
{% endblock %}
