{% extends "::base.html.twig" %}

{% block body %}
    <div>
        <p>Front largest chainring: {{ data.front }}T</p>
        <p>Rear largest cog: {{ data.rear}}T</p>
        <p>Distance between bottom bracket and center of rear wheel: {{ data.stay }}"</p>
        <p>Chain length: {{ data.result }} complete links</p>
    </div>
    <a href="{{ path('app_chain_pdf', {'serialized': serialized}) }}"><button>download PDF</button></a>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_chain_save') }}"><button>Save</button></a>
    {% endif %}
{% endblock %}
